

<div class="container mt-4">
  <h2>Lista Clienti <button class="btn btn-primary" (click)="showAggiungiForm = true">Aggiungi Cliente</button></h2>
  <div class="container" *ngIf="showAggiungiForm">
  <div class="container">
    <h2>Modifica Cliente</h2>
    <form (submit)="creaNuovoCliente()">
      <div class="form-group">
        <label for="ragioneSociale">Ragione Sociale:</label>
        <input type="text" class="form-control" id="ragioneSociale" [(ngModel)]="nuovoCliente.ragioneSociale" name="ragioneSociale" required>
      </div>

      <div class="form-group">
        <label for="partitaIva">Partita IVA:</label>
        <input type="text" class="form-control" id="partitaIva" [(ngModel)]="nuovoCliente.partitaIva" name="partitaIva" required>
      </div>

      <div class="form-group">
        <label for="emailCliente">Email Cliente:</label>
        <input type="email" class="form-control" id="emailCliente" [(ngModel)]="nuovoCliente.emailCliente" name="emailCliente" required>
      </div>

      <div class="form-group">
        <label for="pec">PEC:</label>
        <input type="email" class="form-control" id="pec" [(ngModel)]="nuovoCliente.pec" name="pec" required>
      </div>

      <div class="form-group">
        <label for="tipoCliente">Tipo Cliente:</label>
        <div class="input-group">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="dropdown-icon">▼</span>
            </div>
          </div>
          <select class="form-control" id="tipoCliente" [(ngModel)]="nuovoCliente.tipoCliente" name="tipoCliente" required>
            <option value="PA">PA</option>
            <option value="SAS">SAS</option>
            <option value="SPA">SPA</option>
            <option value="SRL">SRL</option>
          </select>

        </div>
      </div>


      <div class="form-group">
        <label for="tipoCliente">TelefonoCliente:</label>
        <input type="text" class="form-control" id="telefonoCliente" [(ngModel)]="nuovoCliente.telefonoCliente" name="telefonoCliente" required>
      </div>

      <div class="form-group">
        <label for="nomeContatto">Nome Contatto:</label>
        <input type="text" class="form-control" id="nomeContatto" [(ngModel)]="nuovoCliente.nomeContatto" name="nomeContatto" required>
      </div>

      <div class="form-group">
        <label for="cognomeContatto">Cognome Contatto:</label>
        <input type="text" class="form-control" id="cognomeContatto" [(ngModel)]="nuovoCliente.cognomeContatto" name="cognomeContatto" required>
      </div>

      <div class="form-group">
        <label for="emailContatto">Email Contatto:</label>
        <input type="email" class="form-control" id="emailContatto" [(ngModel)]="nuovoCliente.emailContatto" name="emailContatto" required>
      </div>

      <div class="form-group">
        <label for="telefonoContatto">Telefono Contatto:</label>
        <input type="tel" class="form-control" id="telefonoContatto" [(ngModel)]="nuovoCliente.telefonoContatto" name="telefonoContatto" required>
      </div>

      <div class="form-group">
        <label for="via1">Via 1:</label>
        <input type="text" class="form-control" id="via1" [(ngModel)]="nuovoCliente.viaUno" name="via1" required>
      </div>


      <div class="form-group">
        <label for="civico1">Civico 1:</label>
        <input type="text" class="form-control" id="civico1" [(ngModel)]="nuovoCliente.civicoUno" name="civico1" required>
      </div>

      <div class="form-group">
        <label for="localita1">Località 1:</label>
        <input type="text" class="form-control" id="localita1" [(ngModel)]="nuovoCliente.localitaUno" name="localita1" required>
      </div>

      <div class="form-group">
        <label for="cap1">CAP 1:</label>
        <input type="text" class="form-control" id="cap1" [(ngModel)]="nuovoCliente.capUno" name="cap1" required>
      </div>

      <div class="form-group">
        <label for="comune1">Comune 1:</label>
        <input type="text" class="form-control" id="comune1" [(ngModel)]="nuovoCliente.comuneUno" name="comune1" required>
      </div>

      <div class="form-group">
        <label for="via2">Via 2:</label>
        <input type="text" class="form-control" id="via2" [(ngModel)]="nuovoCliente.viaDue" name="via2" required>
      </div>

      <div class="form-group">
        <label for="civico2">Civico 2:</label>
        <input type="text" class="form-control" id="civico2" [(ngModel)]="nuovoCliente.civicoDue" name="civico2" required>
      </div>

      <div class="form-group">
        <label for="localita2">Località 2:</label>
        <input type="text" class="form-control" id="localita2" [(ngModel)]="nuovoCliente.localitaDue" name="localita2" required>
      </div>

      <div class="form-group">
        <label for="cap2">CAP 2:</label>
        <input type="text" class="form-control" id="cap2" [(ngModel)]="nuovoCliente.capDue" name="cap2" required>
      </div>

      <div class="form-group">
        <label for="comune2">Comune 2:</label>
        <input type="text" class="form-control" id="comune2" [(ngModel)]="nuovoCliente.comuneDue" name="comune2" required>
      </div>





      <button type="submit" class="btn btn-primary">Salva</button>
      <button type="button" class="btn btn-secondary" (click)="showAggiungiForm = false" >Chiudi</button>
    </form>
  </div>
</div>
  <table class="table">
    <thead>
      <tr>
        <th>ID Cliente</th>
        <th>Ragione Sociale</th>
        <th>Partita IVA</th>
        <th>Email Cliente</th>
        <th>PEC</th>
        <th>Telefono Cliente</th>
        <th>Tipo Cliente</th>
        <th>Nome Contatto</th>
        <th>Cognome Contatto</th>
        <th>Telefono Contatto</th>
        <th>Data Inserimento</th>
        <th>Ultimo Contatto</th>
        <th>Fatturato Annuale</th>
        <th>Fatture</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utilizza *ngFor per iterare attraverso l'array dei clienti -->
      <tr *ngFor="let cliente of clienti">
        <td>{{ cliente.idCliente }}</td>
        <td>{{ cliente.ragioneSociale }}</td>
        <td>{{ cliente.partitaIva }}</td>
        <td>{{ cliente.emailCliente }}</td>
        <td>{{ cliente.pec}}</td>
        <td>{{ cliente.telefonoCliente }}</td>
        <td>{{ cliente.tipoCliente }}</td>
        <td>{{ cliente.nomeContatto }}</td>
        <td>{{ cliente.cognomeContatto }}</td>
        <td>{{ cliente.telefonoContatto }}</td>
        <td>{{ cliente.dataInserimento }}</td>
        <td>{{ cliente.ultimoContatto }}</td>
        <td>{{ cliente.fatturatoAnnuale }}</td>
        <!-- <td>{{ cliente.fatture }}</td> -->
        <td>{{ cliente.indirizzoSedeLegale.localita }}</td>
        <td>
          <td >
            <div    class="btn-group" role="group">
              <button class="btn btn-primary" >Modifica</button>
              <button class="btn btn-danger" >Elimina</button>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>

